<div class="standard-padding">
  <form [formGroup]="service.searchForm" class="standard-form">
    <div class="controls-container">
      <h1>Kontakt hinzufügen</h1>
      <mat-form-field class="full-width">
        <input
          name="name"
          type="text"
          placeholder="Suche"
          aria-label="Number"
          matInput
          formControlName="searchKey"
          [matAutocomplete]="ac_search">
        <mat-autocomplete autoActiveFirstOption #ac_search="matAutocomplete">
          <mat-option *ngFor="let option of filteredContactNames" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <mat-slide-toggle formControlName="enableEdit">
        Neuen Kontakt hinzufügen?
      </mat-slide-toggle>
    </div>
  </form>
  <form [formGroup]="service.contactForm" class="standard-form">
    <div class="controls-container">
      <input type="hidden" formControlName="contact_id">
      <mat-form-field class="full-width">
        <mat-label>Anrede</mat-label>
        <mat-select formControlName="salutation" placeholder="Anrede">
          <ng-container *ngFor="let salutation of service.contactSalutationOptions | async">
            <mat-option [value]="salutation.id">
              {{ salutation.desc }} <br>
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error>Bitte wählen Sie eine passende Anrede aus.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="surname">
        <mat-error>Ihre Eingabe wird benötigt.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Vorname</mat-label>
        <input matInput placeholder="Vorname" formControlName="firstname">
        <mat-error>Ihre Eingabe wird benötigt.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>E-Mail</mat-label>
        <input matInput placeholder="E-Mail" formControlName="email">
        <mat-error>Bitte prüfen Sie, ob es sich hierbei um eine valide E-Mail handelt.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Funktion</mat-label>
        <mat-select formControlName="feature" placeholder="Funktion">
          <ng-container *ngFor="let feature of service.contactFunctions | async">
            <mat-option [value]="feature.id">
              {{ feature.desc }} <br>
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error>Bitte wählen Sie eine passende Funktion aus.</mat-error>
      </mat-form-field>
      <br>

      <div class="btn-row">
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()"
                [disabled]="service.contactForm.invalid">
          Übernehmen
        </button>
        <button mat-raised-button color="warn" (click)="onClose()">Abbrechen</button>
      </div>
    </div>
  </form>
</div>
