<h1>{{school.name}}</h1>
<h3>Schulinfos</h3>
<mat-form-field appearance="fill">
  <mat-label>
    <span style="font-weight: bold;">Name: </span> {{ school.name }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Schulform: </span> {{ school.type }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Telefon: </span> {{ school.phonenumber }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Email: </span> {{ school.email }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Website: </span> {{ school.website }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Kommentar: </span> {{ school.comment }}
  </mat-label>
</mat-form-field>
<h3>Schülerzahlen</h3>
<mat-form-field appearance="fill">
  <mat-label>
    <span style="font-weight: bold;">Schülerzahl EF/11: </span> {{ school.amount_students11 }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Schülerzahl Q1/12: </span> {{ school.amount_students12 }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Schülerzahl Q2/13: </span> {{ school.amount_students13 }}
  </mat-label>
</mat-form-field>
<h3>Kontakte</h3>

<div formArrayName="contacts">
  <table class="contact-table">
    <tr class="header-row">
      <th>Name</th>
      <th>Funktion</th>
      <th></th>
    </tr>
    <ng-container *ngIf="service.contacts.controls.length < 1">
      <tr>
        <td [attr.colspan]="3">Keine Kontakte vorhanden.</td>
      </tr>
    </ng-container>
    <tr *ngFor="let contact of service.contacts.controls; let i = index" class="border_bottom">
      <ng-container *ngIf="contact != null && contact.value != null">
        <td>
          <label>
            <input type="text" [formControlName]="i" hidden>
          </label>
          <ng-container *ngIf="contact.value.surname !== ''; else elseNoName">
            {{contact.value.surname}}
          </ng-container>
          <ng-template #elseNoName>{{contact.value.email}}</ng-template>
          <ng-container *ngIf="contact.value.firstname !== undefined && contact.value.firstname.length > 0">
            , {{contact.value.firstname}}
          </ng-container>
        </td>
        <td>
          {{getContactFunctionDescById(contact.value.feature)}}
        </td>
        <td>
      </ng-container>
    </tr>
  </table>
</div>

<h3>Standort</h3>
<mat-form-field>
  <mat-label>
    <span style="font-weight: bold;">Straße und Hausnummer: </span> {{ address.street }} {{ address.houseNumber }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">PLZ und Ort: </span> {{ address.city.postcode }} {{ address.city.designation }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Kreis: </span> {{ address.city.constituency }}
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Regierungsbezirk: </span> {{ address.city.governmentDistrict }}
  </mat-label>
</mat-form-field>

<h3>Kooperationen</h3>
<mat-form-field>
  <mat-label>
    <span style="font-weight: bold;">Kooperationsvertrag: </span> <!-- TODO: einfügen -->
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Betreuende Hochschule KAoA/Talentscouting: </span> <!-- TODO: einfügen -->
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">KAoA Betreuer*in: </span> <!-- TODO: einfügen -->
  </mat-label>
  <mat-label>
    <span style="font-weight: bold;">Talentscout: </span> <!-- TODO: einfügen -->
  </mat-label>
</mat-form-field>

<h2>Termine</h2>
<div class="mat-elevation-z8 full-width-table">

  <table mat-table
         multiTemplateDataRows
         matSort
         [dataSource]="listData">

    <ng-container matColumnDef="designation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Bezeichnung</mat-header-cell>
      <mat-cell [routerLink]="['/events', row.uuid]" *matCellDef="let row">{{row.designation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Datum</mat-header-cell>
      <mat-cell [routerLink]="['/events', row.uuid]" *matCellDef="let row">{{toReadableDate(row.date)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategorie</th>
      <td mat-cell [routerLink]="['/events', row.uuid]" *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <p>{{element.name}}</p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef aria-colspan="6">Daten werden geladen...</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef aria-colspan="6">Es sind keine Daten vorhanden.</mat-footer-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

  </table>
</div>
