.info-table {
  margin-bottom: 3%;
}

.info-table > tr {
  margin: 5% 5%;
  padding: 1% 1%;
}

.info-table > tr > td {
  margin: 5% 5%;
  padding: 1% 1%;
}

.label {
  font-size: medium;
  margin: 2% 8px;
  padding-right: 10px;
  text-align: left;
  font-weight: 400;
  white-space: nowrap;
}

.value {
  font-size: medium;
  font-style: italic;
  text-align: right;
  font-weight: 200;
  white-space: nowrap;
}

.event-details p {
  margin: 0 0 2%;
  font-size: medium;
}

.event-details .indent-1 {
  text-indent: 4%;
  font-size: medium;
  color: #555555;
}

.event-details .indent-2 {
  text-indent: 8%;
  font-size: small;
  color: #666666;
}

.event-details .indent-3 {
  text-indent: 16%;
  font-size: small;
  color: #888888;
}

.event-details span {
  display: inline-block;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.action-button {
  flex: 1;
  margin-right: 10px;
  text-align: center;
}

.mat-elevation-z8 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.full-width-table {
  width: 100%;
}

.actions-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions-col button.mat-icon-button {
  margin-right: 5px;
}

.element-detail {
  overflow: hidden;
}

.element-row td {
  border-bottom-width: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

tr.detail-row {
  height: 0;
}

.mail-div {
  margin: 10px;
}

.mail-div > button {
  margin: 2px;
}

.spacer {
  padding: 3%;
  align-content: center;
  width: 100%;
}

.spacer p {
  font-weight: 400;
  font-size: large;
  text-align: center;
}

.no-data::after {
  content: "Keine Angabe";
  color: #c2c3c4;
  font-weight: 100;
  font-size: medium;
  font-style: normal;
  display: inline-block;
}

/*
.mat-row, .mat-header-row, .mat-footer-row {
  display: table-row;
}

.mat-cell, .mat-header-cell, .mat-footer-cell {
  display: table-cell;
  vertical-align: top;
}
*/

/* filter controls */
/*
mat-cell > mat-icon {
  margin-right: 5px;
}

mat-row:hover {
  background: #f5f5f5;
}

mat-cell:focus {
  outline: none;
  border: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
*/
