.letter-form {
  min-width: 256px;
  max-width: 512px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.letter-form mat-form-field {
  width: 100%;
}

.letter-form mat-form-field textarea {
  min-height: max-content;
  height: 200px;
}

.btn-row {
  width: 100%;
}
