<ng-container *ngIf="this.veranstaltungId === undefined; else edit">
  <h1>Veranstaltung hinzufügen</h1>
</ng-container>
<ng-template #edit>
  <h1>Veranstaltung bearbeiten</h1>
</ng-template>

<form [formGroup]="service.getDetailForm()" class="veranstaltung-form">
  <!-- uuid -->
  <input type="hidden" formControlName="uuid">

  <!-- datum-->
  <mat-form-field appearance="">
    <mat-label>Datum</mat-label>
    <label>
      <input matInput [matDatepicker]="picker" formControlName="datum" (click)="picker.open()" readonly>
    </label>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  <br>

  <!-- bezeichnung -->
  <mat-form-field>
    <label>
      <input formControlName="bezeichnung" matInput placeholder="Bezeichnung*">
    </label>
    <mat-error>Ihre Eingabe wird benötigt.</mat-error>
  </mat-form-field>
  <br>

  <!-- thema -->
  <mat-form-field>
    <label>
      <input formControlName="thema" matInput placeholder="Thema*">
    </label>
    <mat-error>Ihre Eingabe wird benötigt.</mat-error>
  </mat-form-field>
  <br>


  <!-- berichtBtn -->
  <div *ngIf="this.veranstaltungId !== undefined">
    <div *ngIf="bericht === undefined else berichtAnpassen">
      <button mat-stroked-button class="btn-span-full-table" color="secondary" type="button"
              (click)="editBericht()">Bericht erstellen
      </button>
    </div>
    <ng-template #berichtAnpassen>
      <button mat-stroked-button class="btn-span-full-table" color="secondary" type="button"
              (click)="editBericht(this.bericht)">Bericht anpassen
      </button>
    </ng-template>
  </div>
  <br>
  <br>

  <!-- veranstalterToggle -->
  <mat-slide-toggle name="veranstalterToggle" formControlName="veranstalterToggle">
    Veranstalter ist Schule?
  </mat-slide-toggle>
  <br>
  <br>

  <div *ngIf="veranstalterIsSchule">
    <!-- schule -->
    <mat-form-field>
      <mat-select formControlName="schule" placeholder="Schule">
        <ng-container *ngFor="let it of schulen | async">
          <mat-option [value]="it.school_id">
            {{it.surname}} <br>
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>Bitte wählen Sie eine Schule aus.</mat-error>
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="!veranstalterIsSchule">
    <!-- institution -->
    <mat-form-field>
      <mat-select formControlName="institution" placeholder="Institution*">
        <ng-container *ngFor="let it of institutionen | async">
          <mat-option [value]="it.uuid">
            {{it.designation}} <br>
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>Bitte wählen Sie eine Schule aus.</mat-error>
    </mat-form-field>
    <br>
  </div>


  <!-- kategorie -->
  <mat-form-field>
    <mat-select formControlName="kategorie" placeholder="Kategorie" multiple>
      <ng-container *ngFor="let it of kategorien | async">
        <mat-option [value]="it.id">
          {{it.desc}} <br>
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Bitte wählen Sie eine Kategorie aus.</mat-error>
  </mat-form-field>
  <br>

  <!-- stufe -->
  <mat-form-field>
    <mat-select formControlName="stufe" placeholder="Stufe" multiple>
      <ng-container *ngFor="let it of stufen | async">
        <mat-option [value]="it.id">
          {{it.desc}} <br>
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Bitte wählen Sie eine Stufe aus.</mat-error>
  </mat-form-field>
  <br>

  <!-- anzahlSus -->
  <mat-form-field>
    <label>
      <input formControlName="anzahlSus" matInput placeholder="Anzahl SuS">
    </label>
  </mat-form-field>
  <br>

  <!-- ablaufUndBewertung -->
  <mat-form-field>
    <label>
      <textarea formControlName="ablauf" matInput placeholder="Ablauf und Bewertung"></textarea>
    </label>
  </mat-form-field>
  <br>

  <!-- durchlaeufe -->
  <mat-form-field>
    <label>
      <input formControlName="durchlaeufe" matInput placeholder="Durchläufe">
    </label>
    <mat-error>Ihre Eingabe wird benötigt.</mat-error>
  </mat-form-field>
  <br>
  <br>

  <!-- ansprechpartner -->
  <mat-form-field>
    <label>
      <input formControlName="ansprechpartner" matInput placeholder="Ansprechpartner">
    </label>
  </mat-form-field>
  <br>
  <br>

  <div class="btn-row">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
            [disabled]="service.getDetailForm().invalid">Speichern
    </button>
    <button mat-raised-button color="warn" (click)="onClear()">Zurücksetzen</button>
  </div>
</form>
