.mail-form {
  min-width: 256px;
  max-width: 512px;
  width: 100%;
}

.mail-form mat-form-field {
  width: 100%;
}

.mail-form mat-form-field textarea {
  min-height: max-content;
  height: 200px;
}

