<div class="detail-form">
  <ng-container *ngIf="this.schoolId != null; else newSchule">
    <h1>Schule bearbeiten</h1>
  </ng-container>
  <ng-template #newSchule>
    <h1>Schule hinzufügen</h1>
  </ng-template>

  <form [formGroup]="service.formGroup">
    <input type="hidden" formControlName="school_id">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
      <mat-error>Ihre Eingabe wird benötigt.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Schulform</mat-label>
      <mat-select formControlName="schooltype" placeholder="Schulform">
        <ng-container *ngFor="let schulform of schoolTypes | async">
          <mat-option [value]="schulform.id">
            {{ schulform.desc }} <br>
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>Bitte wählen Sie die passende Schulform aus</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefon</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Telefon">
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input formControlName="email" matInput placeholder="E-Mail">
      <mat-error>Ihre Eingabe wird benötigt.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Webseite</mat-label>
      <input formControlName="website" matInput placeholder="Webseite">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kommentar</mat-label>
      <textarea matInput formControlName="comment" placeholder="Kommentar"></textarea>
      <mat-error>Ihre Eingabe wird benötigt.</mat-error>
    </mat-form-field>
    <div class="sec">
      <h2>Schülerzahlen</h2>
      <mat-form-field>
        <mat-label>Schülerzahl EF/11</mat-label>
        <input formControlName="amount_students11" matInput type="number" placeholder="Schülerzahl EF/11">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Schülerzahl Q1/12</mat-label>
        <input formControlName="amount_students12" matInput type="number" placeholder="Schülerzahl Q1/12">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Schülerzahl Q2/13</mat-label>
        <input formControlName="amount_students13" matInput type="number" placeholder="Schülerzahl Q2/13">
      </mat-form-field>
    </div>
    <div formArrayName="contacts" class="sec">
      <h2>Kontakte</h2>
      <div class="full-width">
        <table *ngIf="contactData.data.length > 0; else noContacts" mat-table [dataSource]="contactData"
               class="mat-elevation-z8">
          <ng-container matColumnDef="contactName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let contact">
              <ng-container *ngIf="contact.surname !== ''; else elseNoName">
                {{ contact.surname }}
              </ng-container>
              <ng-template #elseNoName>{{ contact.email }}</ng-template>
              <ng-container *ngIf="contact.firstname !== undefined && contact.firstname.length > 0">
                , {{ contact.firstname }}
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="contactFeature">
            <th mat-header-cell *matHeaderCellDef>Funktion</th>
            <td mat-cell *matCellDef="let contact">
              {{ getContactFunctionDescById(contact.feature) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="contactActions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let contact">
              <button mat-icon-button (click)="showContactDetail(contact)"
                      matTooltip="Kontakt editieren">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="removeContact(contact)"
                      matTooltip="Kontakt entfernen">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedContactColumns"></tr>
          <tr mat-row *matRowDef="let contact; columns: displayedContactColumns;"></tr>
        </table>
        <ng-template #noContacts>
          <div class="spacer">
            <p>Keine Kontakte vorhanden</p>
          </div>
        </ng-template>
      </div>
      <button class="full-width vertical-space" mat-stroked-button (click)="addContact()">
        <mat-icon>add</mat-icon>
        Hinzufügen
      </button>
    </div>
    <div class="sec">
      <h2>Adresse</h2>
      <mat-form-field>
        <mat-label>Standort</mat-label>
        <input formControlName="address" matInput placeholder="Standort">
      </mat-form-field>
      <button mat-stroked-button class="full-width" color="accent" type="button"
              (click)="changeAddress()">Standort verwalten
      </button>
    </div>
    <div class="sec">
      <h2>Kooperationen</h2>
      <div style="padding-bottom: 2%">
        <mat-checkbox formControlName="cooperationContract">Hochschulischen Kooperationsvertrag TH</mat-checkbox>
      </div>
      <mat-form-field>
        <mat-label>Betreuende Hochschule KAoA/Talentscouting</mat-label>
        <mat-select formControlName="cooperationPartner" placeholder="Betreuende Hochschule KAoA/Talentscouting">
          <ng-container *ngFor="let cooperationpartner of cooperationPartners | async">
            <mat-option [value]="cooperationpartner.id">
              {{ cooperationpartner.desc }} <br>
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>KAoA Betreuer*in</mat-label>
        <mat-select formControlName="kaoaSupervisor" placeholder="KAoA Betreuer*in">
          <ng-container *ngFor="let kaoaSupervisor of kaoaSupervisors | async">
            <mat-option [value]="kaoaSupervisor.id">
              {{ kaoaSupervisor.desc }} <br>
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Talentscout</mat-label>
        <mat-select formControlName="talentScout" placeholder="Talentscout">
          <ng-container *ngFor="let talentscout of talentScouts | async">
            <mat-option [value]="talentscout.id">
              {{ talentscout.desc }} <br>
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="btn-row sec">
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Speichern</button>
      <button mat-raised-button color="warn" (click)="onClear()">Zurücksetzen</button>
    </div>
  </form>
</div>
