.controls-container > * {
  width: 100%;
}

th {
  text-align: left;
  font-size: medium;
}

.noContacts {
  padding: 2%;
  font-size: medium;
}

.btn-span-full-table {
  width: 100%;
}

.vertical-space {
  margin-top: 20px;
}
