<ng-container *ngIf="this.schoolId != null; else newSchule">
  <h1>Schule bearbeiten</h1>
</ng-container>
<ng-template #newSchule>
  <h1>Schule hinzufügen</h1>
</ng-template>

<form [formGroup]="service.formGroup" class="normal-form"> <!-- (submit)="onSubmit()" -->

  <div class="" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="sec1" fxFlex="100" fxFlex.xs="55">
      <div class="controls-container">
        <input type="hidden" formControlName="school_id">

        <mat-form-field>
          <label>
            <input formControlName="name" matInput placeholder="Name*">
          </label>
          <mat-error>Ihre Eingabe wird benötigt.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="schooltype" placeholder="Schulform*">
            <mat-option value="-1">Keine</mat-option>
            <ng-container *ngFor="let schulform of schoolTypes | async">
              <mat-option [value]="schulform.id">
                {{schulform.desc}} <br>
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Bitte wählen Sie die passende Schulform aus</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="amount_students" placeholder="Anzahl SuS*">
            <mat-option value="-1">Keine</mat-option>
            <ng-container *ngFor="let sus of amountStudentsRanges | async">
              <mat-option [value]="sus.id">
                {{sus.range}} <br>
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Bitte wählen Sie die passende Schulform aus</mat-error>
        </mat-form-field>

        <!-- Kontakte -->
        <div formArrayName="contacts">
          <h3>Kontakte</h3>

          <table class="contact-table">
            <tr class="header-row">
              <th>Name</th>
              <th>Funktion</th>
              <th></th>
            </tr>
            <ng-container *ngIf="service.contacts.controls.length < 1">
              <tr>
                <td [attr.colspan]="3">Keine Kontakte vorhanden.</td>
              </tr>
            </ng-container>
            <tr *ngFor="let contact of service.contacts.controls; let i = index" class="border_bottom">
              <ng-container *ngIf="contact != null && contact.value != null">
                <td>
                  <label>
                    <input type="text" [formControlName]="i" hidden>
                  </label>
                  <ng-container *ngIf="contact.value.surname !== ''; else elseNoName">
                    {{contact.value.surname}}
                  </ng-container>
                  <ng-template #elseNoName>{{contact.value.email}}</ng-template>
                  <ng-container *ngIf="contact.value.firstname !== undefined && contact.value.firstname.length > 0">
                    , {{contact.value.firstname}}
                  </ng-container>
                </td>
                <td>
                  {{getContactFunctionDescById(contact.value.feature)}}
                </td>
                <td>
                  <!-- go to details for this kontakt-->
                  <button mat-icon-button (click)="showContactDetail(contact.value.uuid)"
                          matTooltip="Kontakt editieren">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <!-- delete icon -> trigger delete connection between this kontakt and schule-->
                  <button mat-icon-button color="warn" (click)="service.removeContact(contact.value.uuid)"
                          matTooltip="Kontakt entfernen">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>
            </tr>
            <!-- ADD Kontakt (Button) -->
            <tr>
              <td [attr.colspan]="3">
                <button class="btn-span-full-table" mat-stroked-button (click)="addContact()">
                  <mat-icon>add</mat-icon>
                  Hinzufügen
                </button>
              </td>
            <tr>
          </table>
        </div>
      </div> <!-- grid controls-container -->
    </div>
    <div class="sec2" fxFlex="100" fxFlex.xs="55">
      <div class="controls-container">
        <!-- Adresse -->
        <mat-form-field>
          <label>
            <input formControlName="address" matInput placeholder="Standort*">
          </label>
        </mat-form-field>

        <div class="single-btn-row">
          <button mat-stroked-button class="btn-span-full-table" color="secondary" type="button"
                  (click)="changeAddress()">Standort verwalten
          </button>
        </div>
        <br><br>

        <div class="add-bottom-padding">
          <mat-checkbox formControlName="cooperationcontract">Kooperationsvertrag</mat-checkbox>
        </div>
        <div class="add-bottom-padding">
          <mat-checkbox #kaoa_cb formControlName="kaoa_university">kaoa Hochschule</mat-checkbox>
          <div *ngIf="kaoa_cb.checked">

            <mat-form-field>
              <mat-select formControlName="kaoa_partner" placeholder="Partner*">
                <ng-container *ngFor="let option of cooperationPartners">
                  <mat-option [value]="option.id">
                    {{option.desc}} <br>
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
        <div class="add-bottom-padding">
          <mat-checkbox #talentscouting_cb formControlName="talentscouting">Talentscouting</mat-checkbox>
          <div *ngIf="talentscouting_cb.checked">

            <mat-form-field>
              <mat-select formControlName="talentscouting_partner" placeholder="Partner*">
                <ng-container *ngFor="let option of cooperationPartners">
                  <mat-option [value]="option.id">
                    {{option.desc}} <br>
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <ng-container *ngIf="this.schoolId != null">
          <div class="btn-row">
            <button mat-flat-button color="" [routerLink]="['../../events/new']"
                    [queryParams]="{school_id: schoolId}" matTooltip="Schule editieren">
              Veranstaltung erstellen
            </button>
          </div>
          <br>
          <br>
        </ng-container>

        <div class="btn-row">
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                  [disabled]="service.formGroup.invalid">Speichern
          </button>
          <button mat-raised-button color="warn" (click)="onClear()">Zurücksetzen</button>
        </div>

      </div>
    </div>
  </div>
</form>
