form.normal-form {
  padding: 10px;
  margin: 10px;
}



.controls-container > * {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 10px;
}

.single-btn-row {
  margin-bottom: 5px;
}

.sec1, .sec2, .sec {
  margin: 20px;
}

.header-row th {
  text-align: left;
}

tr.border_bottom td {
  border-bottom: 1px dashed #24292e;
  padding: 2px 3px 2px 2px;
}

.contact-table {
  width: 100%;
}

.btn-span-full-table {
  width: 100%;
}
