<h1>Kontakt Verwaltung</h1>
<form [formGroup]="service.contactForm" class="normal-form example-form">
  <div class="controls-container">
    <!-- UUID -->
    <input type="hidden" formControlName="uuid">

    <!-- Anrede -->
    <mat-form-field class="full-width">
      <mat-select formControlName="salutation" placeholder="Anrede*">
        <ng-container *ngFor="let salutation of service.contactSalutationOptions | async">
          <mat-option [value]="salutation.id">
            {{salutation.desc}} <br>
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>Bitte wählen Sie eine passende Anrede aus.</mat-error>
    </mat-form-field>
    <br>

    <!-- NAME -->
    <mat-form-field class="full-width">
      <label>
        <input matInput name="surname" type="text" placeholder="Name" formControlName="surname">
      </label>
      <mat-error>Ihre Eingabe wird benötigt.</mat-error>
    </mat-form-field>
    <br>

    <!-- VORNAME -->
    <mat-form-field class="full-width">
      <label>
        <input matInput name="firstname" type="text" placeholder="Vorname" formControlName="firstname">
      </label>
      <mat-error>Ihre Eingabe wird benötigt.</mat-error>
    </mat-form-field>
    <br>

    <!-- EMAIL -->
    <mat-form-field class="full-width">
      <label>
        <input matInput name="email" type="text" placeholder="E-Mail" formControlName="email">
      </label>
      <mat-error>Bitte prüfen Sie, ob es sich hierbei um eine valide E-Mail handelt.</mat-error>
    </mat-form-field>
    <br>

    <!-- FUNKTION -->
    <mat-form-field class="full-width">
      <mat-select formControlName="function" placeholder="Funktion*">
        <mat-option value="-1">Keine</mat-option>
        <ng-container *ngFor="let funktion of service.contactFunctions | async">
          <mat-option [value]="funktion.id">
            {{funktion.desc}} <br>
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>Bitte wählen Sie eine passende Funktion aus.</mat-error>
    </mat-form-field>
    <br>

    <!-- BUTTONS -->
    <div class="btn-row">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="service.contactForm.invalid"> <!-- type="submit" -->
        Übernehmen
      </button>
      <button mat-raised-button color="warn" (click)="onClose()">Abbrechen</button>
    </div>
  </div>
</form>
