.form-group {
  display: flex;
  align-items: center;
}

.two-column-form {
  display: flex;
}

.left-column {
  flex: 1;
  margin-right: 20px; /* Platz zwischen den Spalten */
}

.right-column {
  flex: 1;
}
