<ng-container *ngIf="editMode(); else newInstitution">
  <h1>Institution bearbeiten</h1>
</ng-container>
<ng-template #newInstitution>
  <h1>Institution hinzufügen</h1>
</ng-template>

<form [formGroup]="service.getInstForm()" class="normal-form">
  <input type="hidden" formControlName="uuid">
  <mat-form-field>
    <label>
      <input formControlName="designation" matInput placeholder="Bezeichnung*">
    </label>
    <mat-error>Ihre Eingabe wird benötigt.</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <label>
      <input formControlName="email" matInput placeholder="E-Mail*">
    </label>
    <mat-error>Bitte geben Sie eine valide E-Mail an.</mat-error>
  </mat-form-field>
  <br>

  <!-- Adresse -->
  <mat-form-field>
    <label>
      <input formControlName="address" matInput placeholder="Standort*">
    </label>
    <mat-error>Ihre Eingabe wird benötigt.</mat-error>
  </mat-form-field>
<!--
  <ng-container *ngIf="this.getInstitutionId() != null">
    <div class="btn-row">
      <button mat-flat-button color="" [routerLink]="['../../events/new']"
              [queryParams]="{institution_id: this.getInstitutionId()}" matTooltip="Schule editieren">
        Veranstaltung erstellen
      </button>
    </div>
    <br>
    <br>
  </ng-container>-->

  <div class="single-btn-row">
    <button mat-stroked-button class="btn-span-full-table" color="secondary" type="button"
            (click)="changeAddress()">Standort verwalten
    </button>
  </div>
  <br><br>

  <div class="btn-row">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
            [disabled]="service.getInstForm().invalid || addressUndefined">Speichern
    </button>
    <button mat-raised-button color="warn" (click)="onClear()">Zurücksetzen</button>
  </div>
</form>
