<ng-container *ngIf="this.schoolId != null; else newSchule">
  <h1>Schule bearbeiten</h1>
</ng-container>
<ng-template #newSchule>
  <h1>Schule hinzufügen</h1>
</ng-template>

<form [formGroup]="service.formGroup" class="normal-form"> <!-- (submit)="onSubmit()" -->

  <div class="" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="sec1" fxFlex="100" fxFlex.xs="55">
      <div class="controls-container">
        <h3>Schulinfos</h3>

        <input type="hidden" formControlName="school_id">

        <mat-form-field>
          <mat-label>Name*</mat-label>
          <input type="text" formControlName="name" matInput placeholder="Name*">
          <mat-error>Ihre Eingabe wird benötigt.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="schooltype" placeholder="Schulform*">
            <mat-option *ngFor="let schulform of schoolTypes | async" [value]="schulform.id">
              {{schulform.desc}}
            </mat-option>
          </mat-select>
          <mat-error>Bitte wählen Sie die passende Schulform aus</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefon*</mat-label>
          <input type="text" formControlName="phoneNumber" matInput placeholder="Telefon*">
          <mat-error>Ihre Eingabe wird benötigt.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email*</mat-label>
          <input type="text" formControlName="email" matInput placeholder="Email*">
          <mat-error>Ihre Eingabe wird benötigt.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Webseite*</mat-label>
          <input type="text" formControlName="website" matInput placeholder="Webseite*">
          <mat-error>Ihre Eingabe wird benötigt.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Kommentar*</mat-label>
          <textarea matInput formControlName="comment" placeholder="Kommentar*"></textarea>
          <mat-error>Ihre Eingabe wird benötigt.</mat-error>
        </mat-form-field>

        <h3>Schülerzahlen</h3>

        <mat-form-field>
          <mat-label>Schülerzahl EF/11*</mat-label>
          <input formControlName="amount_students11" matInput type="number" placeholder="Schülerzahl EF/11*">
          <mat-error>Schülerzahl muss zwischen 0 und 150 liegen</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Schülerzahl Q1/12*</mat-label>
          <input formControlName="amount_students12" matInput type="number" placeholder="Schülerzahl Q1/12*">
          <mat-error>Schülerzahl muss zwischen 0 und 150 liegen</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Schülerzahl Q2/13*</mat-label>
          <input formControlName="amount_students13" matInput type="number" placeholder="Schülerzahl Q2/13*">
          <mat-error>Schülerzahl muss zwischen 0 und 150 liegen</mat-error>
        </mat-form-field>

        <!-- Kontakte -->
        <div formArrayName="contacts">
          <h3>Kontakte</h3>

          <table class="contact-table">
            <tr class="header-row">
              <th>Name</th>
              <th>Funktion</th>
              <th></th>
            </tr>
            <ng-container *ngIf="service.contacts.controls.length < 1">
              <tr>
                <td [attr.colspan]="3">Keine Kontakte vorhanden.</td>
              </tr>
            </ng-container>
            <tr *ngFor="let contact of service.contacts.controls; let i = index" class="border_bottom">
              <ng-container *ngIf="contact != null && contact.value != null">
                <td>
                  <label>
                    <input type="text" [formControlName]="i" hidden>
                  </label>
                  <ng-container *ngIf="contact.value.surname !== ''; else elseNoName">
                    {{contact.value.surname}}
                  </ng-container>
                  <ng-template #elseNoName>{{contact.value.email}}</ng-template>
                  <ng-container *ngIf="contact.value.firstname !== undefined && contact.value.firstname.length > 0">
                    , {{contact.value.firstname}}
                  </ng-container>
                </td>
                <td>
                  {{getContactFunctionDescById(contact.value.feature)}}
                </td>
                <td>
                  <!-- go to details for this kontakt-->
                  <button mat-icon-button (click)="showContactDetail(contact)"
                          matTooltip="Kontakt editieren">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <!-- delete icon -> trigger delete connection between this kontakt and schule-->
                  <button mat-icon-button color="warn" (click)="service.removeContact(contact)"
                          matTooltip="Kontakt entfernen">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>
            </tr>
            <!-- ADD Kontakt (Button) -->
            <tr>
              <td [attr.colspan]="3">
                <button class="btn-span-full-table" mat-stroked-button (click)="addContact()">
                  <mat-icon>add</mat-icon>
                  Hinzufügen
                </button>
              </td>
            <tr>
          </table>
        </div>
      </div> <!-- grid controls-container -->
    </div>

    <div class="sec2" fxFlex="100" fxFlex.xs="55">
      <div class="controls-container">
        <!-- Adresse -->
        <mat-form-field>
          <label>
            <input formControlName="address" matInput placeholder="Standort*">
          </label>
        </mat-form-field>

        <div class="single-btn-row">
          <button mat-stroked-button class="btn-span-full-table" color="secondary" type="button"
                  (click)="changeAddress()">Standort verwalten
          </button>
        </div>

        <h3>Kooperationen</h3>

        <div class="add-bottom-padding">
          <mat-checkbox formControlName="cooperationContract">Hochschulischen Kooperationsvertrag TH</mat-checkbox>
        </div>

        <mat-form-field>
          <mat-select formControlName="cooperationPartner" placeholder="Betreuende Hochschule KAoA/Talentscouting*">
            <mat-option *ngFor="let cooperationpartner of cooperationPartners | async" [value]="cooperationpartner.id">
              {{cooperationpartner.desc}}
            </mat-option>
          </mat-select>
          <mat-error>Bitte wählen Sie einen Kooperationpartner aus</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="kaoaSupervisor" placeholder="KAoA Betreuer*in*">
            <mat-option *ngFor="let kaoaSupervisor of kaoaSupervisors | async" [value]="kaoaSupervisor.id">
              {{kaoaSupervisor.desc}}
            </mat-option>
          </mat-select>
          <mat-error>Bitte wählen Sie eine KAoA Betreuer*in aus</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="talentScout" placeholder="Talentscout*">
            <mat-option *ngFor="let talentscout of talentScouts | async" [value]="talentscout.id">
              {{talentscout.desc}}
            </mat-option>
          </mat-select>
          <mat-error>Bitte wählen Sie einen Talentscout aus</mat-error>
        </mat-form-field>

        <ng-container *ngIf="kAoAWork.length > 0">
          <h3>KAoAArbeit</h3>
          <ng-container *ngFor="let work of kAoAWork">
            <h4>{{work.name}}</h4>
            <p>{{work.content}}</p>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="this.schoolId != null">
          <div class="btn-row">
            <button mat-flat-button color="" [routerLink]="['../../events/new']"
                    [queryParams]="{school_id: schoolId}" matTooltip="Schule editieren">
              Veranstaltung erstellen
            </button>
          </div>
        </ng-container>

        <div class="btn-row">
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                  [disabled]="service.formGroup.invalid || addressUndefined">Speichern
          </button>
          <button mat-raised-button color="warn" (click)="onClear()">Zurücksetzen</button>
        </div>

      </div>
    </div>
  </div>
</form>
