<div class="toolbar" role="banner">

  <a href="/">
    <img
      width="40"
      alt="Angular Logo"
      src="https://ilias.th-koeln.de/Customizing/global/skin/th-koeln/images/HeaderIconAvatar.svg"
    />
  </a>
  <span>ZSB-Datenbank</span>
  <div class="spacer"></div>
  <a href="https://github.com/THK-ADV/zsb-db-backend/issues">
    <img
      width="25"
      alt="GitHub Logo"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png"
    />
  </a>
</div>

<!--<div class="container">-->
<!--  <mat-toolbar>-->

<!--    <span class="fill-remaining-space"></span>-->
<!--    <span><a href="/">-->
<!--          <img-->
<!--            width="40"-->
<!--            alt="Angular Logo"-->
<!--            src="https://ilias.th-koeln.de/Customizing/global/skin/th-koeln/images/HeaderIconAvatar.svg"-->
<!--          />-->
<!--    </a>ZSB-Datenbank</span>-->
<!--    <span class="fill-remaining-space"></span>-->
<!--  </mat-toolbar>-->
<!--</div>-->

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<div class="content">
  <!-- Footer TODO fix and uncomment -->
  <!--  <footer id="foo" class="mt-auto">-->
  <!--    Feedback?&nbsp;-->
  <!--    Erstellt&nbsp;<a href="https://github.com/THK-ADV/zsb-db-backend/issues" target="_blank" rel="noopener">Issues</a>&nbsp;und helft-->
  <!--    beim Gestalten der Website.-->
  <!--  </footer>-->
</div>
