<!-- Header -->
<div *ngIf="schule === undefined; then showHeaderAdd; else showHeaderEdit"></div>
<ng-template #showHeaderEdit><h2>Schule bearbeiten</h2></ng-template>
<ng-template #showHeaderAdd><h2>Schule hinzufügen</h2></ng-template>

<!-- Form-Content -->
<div class="example-container">
  <form (ngSubmit)="onSubmit()">


    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <label>
        <input matInput value="{{ (schule | async)?.name }}">
      </label>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Schulform</mat-label>
      <label>
        <input matInput value="{{ (schule | async)?.schulform }}">
      </label>
    </mat-form-field>
    <br>


    <mat-form-field appearance="fill">
      <mat-label>Schwerpunkt</mat-label>
      <label>
        <input matInput value="{{ (schule | async)?.schwerpunkt }}">
      </label>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Adresse</mat-label>

      <mat-select value="{{(schule | async)?.adress_id}}">
        <div *ngFor="let adresse of adressen | async">
          <mat-option value="{{ adresse.adress_id }}">{{ adresse.strasse }}, {{ adresse.hausnummer }}</mat-option>
        </div>

        <!-- TODO link to add popup -->
        <a href="">
          <mat-option value="add">Hinzufügen</mat-option>
        </a>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Ort</mat-label>
      <mat-select value="{{ortId}}">
        <div *ngFor="let ort of orte | async">
          <mat-option value="{{ ort.ort_id }}">{{ ort.plz }}, {{ ort.bezeichnung }}</mat-option>
        </div>

        <!-- TODO link to add popup -->
        <a href="">
          <mat-option value="option, optiop">Hinzufügen</mat-option>
        </a>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Schulleitung (Mail)</mat-label>
      <label>
        <input matInput value="{{(schule | async)?.schulleitung_mail}}">
      </label>
    </mat-form-field>
    <br>


    <mat-form-field appearance="fill">
      <mat-label>StuBo (Mail)</mat-label>
      <label>
        <input matInput value="{{(schule | async)?.stubo_mail}}">
      </label>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Schueleranzahl</mat-label>
      <label>
        <input matInput value="{{(schule | async)?.schueleranzahl}}">
      </label>
    </mat-form-field>
    <br>

    <label>
      <mat-checkbox [checked]="(schule | async)?.kooperationsvertrag"></mat-checkbox>
      Kooperationsvertrag
    </label>
    <br><br>

    <label>
      <mat-checkbox [checked]="(schule | async)?.talentscouting"></mat-checkbox>
      Talentscouting
    </label>
    <br><br>

    <label>
      <mat-checkbox [checked]="(schule | async)?.kaoa_hochschule"></mat-checkbox>
      Kaoa Hochschule
    </label>
    <br><br>


    <br>
    <mat-form-field appearance="fill">
      <mat-label>Kommentar</mat-label>
      <label>
        <textarea disabled matInput></textarea>
      </label>
    </mat-form-field>

    <br>
    <br>

    <!-- Safe, exit btn -->
    <button mat-flat-button routerLink="/">Zurück</button>

    <div *ngIf="schule === undefined; then showBtnAdd; else showBtnSave"></div>
    <ng-template #showBtnSave>
      <button type="submit" mat-flat-button color="primary">Änderung speichern</button>

    </ng-template>
    <ng-template #showBtnAdd>
      <button mat-flat-button color="primary">Schule hinzufügen</button>
    </ng-template>
  </form>
</div>
