form.normal-form {
  margin: 10px;
}

.controls-container {
  width: 100%;
  padding: 5%;
}

.controls-container > * {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 10px;
}

.single-btn-row {
  margin-bottom: 5px;
}

.sec1, .sec2 {
  margin: 20px;
}

.header-row th {
  text-align: left;
}

tr.border_bottom td {
  border-bottom: 1px dashed #24292e;
  padding: 2px 20px 2px 2px;
}

.kontakt-table {
  width: 100%;
}

.btn-span-full-table {
  width: 100%;
}
