<form [formGroup]="service.formGroup" class="normal-form" (submit)="onSubmit()">

  <span class="hidden-color"> <!-- TODO find solution for scaling problem -->
    ###############################
    ###############################
    ###############################
    ###############################
  </span>

  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controls-container">
        <input type="hidden" formControlName="$key">

        <mat-form-field>
          <label>
            <input formControlName="name" matInput placeholder="Name*">
          </label>
          <mat-error>Ihre Eingabe wird benötigt.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="schulform" matInput placeholder="Schulform">
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="schwerpunkt" matInput placeholder="Schwerpunkt">
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="schulleitung_mail" matInput placeholder="Schulleitung (Mail)">
          </label>
          <mat-error>Die E-Mail ist nicht valide.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="stubo_mail" matInput placeholder="Stubo (Mail)">
          </label>
        </mat-form-field>


      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controls-container">
        <mat-form-field>
          <mat-select formControlName="adresse" placeholder="Adresse*">
            <mat-option value="-1">Keine</mat-option>
            <ng-container *ngFor="let adresse of adressenObservable | async">
              <mat-option [value]="adresse.adress_id">
                {{adresse.strasse}} {{adresse.hausnummer}} <br>
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Bitte wählen Sie eine Adresse</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="ort" placeholder="Ort*">
            <mat-option value="-1">Keine</mat-option>
            <ng-container *ngFor="let ort of orteObservable | async">
              <mat-option [value]="ort.ort_id">
                {{ort.plz}} {{ort.bezeichnung}} <br>
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Bitte wählen Sie einen Ort</mat-error>
        </mat-form-field>

        <div class="add-bottom-padding">
          <mat-checkbox formControlName="kooperationsvertrag">Kooperationsvertrag</mat-checkbox>
        </div>
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="kaoa_hochschule">kaoa Hochschule</mat-checkbox>
        </div>
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="talentscouting">Talentscouting</mat-checkbox>
        </div>


        <div class="btn-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.formGroup.invalid">Speichern</button>
          <button mat-raised-button color="warn" (click)="onClear()">Zurücksetzen</button>
        </div>

      </div>
    </mat-grid-tile>
  </mat-grid-list>

</form>
