<div class="search-div">
  <button mat-raised-button [routerLink]="['/schools']" color="primary">
    <mat-icon>add</mat-icon>
    Hinzufügen
  </button>

  <mat-form-field class="search-form-field" floatLabel="never" matTooltipPosition="above"
                  matTooltip="Mehrere Suchbegriffe können durch Komma getrennt eingegeben werden. Dabei werden nicht nur die derzeit in der Tabelle visualisierten Werte berücksichtigt, sondern alle zur Schule gehörigen Attribute.">
    <label>
      <input matInput [(ngModel)]="searchKey" placeholder="Suchbegriffe getrennt durch Komma" autocomplete="off"
             (keyup)="applyFilter()">
    </label>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8 data-table">
  <mat-table [dataSource]="listData" matSort>

    <!-- schulname Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef [ngClass]="'w-02'"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="actions-col" [ngClass]="'w-02'">
        <mat-checkbox [checked]="this.shouldRowBeSelected(row.school_id)"
                      (change)="toggleSelectedSchool(row.school_id)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- schulname Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]" *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- schulform Column -->
    <ng-container matColumnDef="schoolType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Schulform</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]"
                *matCellDef="let row">{{ getSchoolTypeById(row.schoolType) }}</mat-cell>
    </ng-container>

    <!-- schwerpunkt column -->
    <!--    <ng-container matColumnDef="schwerpunkt">-->
    <!--      <mat-header-cell *matHeaderCellDef mat-sort-header>schwerpunkt</mat-header-cell>-->
    <!--      <mat-cell *matCellDef="let row">{{row.schwerpunkt}}</mat-cell>-->
    <!--    </ng-container>-->

    <!-- address column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]" *matCellDef="let row">{{row.address.street}}
        , {{row.address.houseNumber}}</mat-cell>
    </ng-container>

    <!-- city column column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ort</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]" *matCellDef="let row">{{row.address.city.postcode}},
        {{row.address.city.designation}}</mat-cell>
    </ng-container>

    <!-- schueleranzahl column -->
    <ng-container matColumnDef="amountStudents">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Schüleranzahl</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]" *matCellDef="let row">{{row.amountStudents}}</mat-cell>
    </ng-container>

    <!-- kooperationsvertrag column -->
    <ng-container matColumnDef="cooperationContract">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kooperationsvertrag</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]" *matCellDef="let row">
        <mat-checkbox [disabled]="true" [checked]="row.cooperationcontract"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- kaoa_hochschule Column -->
    <ng-container matColumnDef="kaoa_university">
      <mat-header-cell *matHeaderCellDef mat-sort-header>kaoa Hochschule</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]" *matCellDef="let row">
        <mat-checkbox [disabled]="true" [checked]="row.talenscouting"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Talent scouting Column -->
    <ng-container matColumnDef="talent">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Talentscouting</mat-header-cell>
      <mat-cell [routerLink]="['/schools', row.school_id]" *matCellDef="let row">
        <mat-checkbox [disabled]="true" [checked]="row.talenscouting"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- edit and delete Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="actions-col">
        <button mat-icon-button [routerLink]="['/schools', row.school_id]" matTooltip="Schule editieren">
          <mat-icon>edit</mat-icon> <!-- use launch or edit -->
        </button>
        <button mat-icon-button color="warn" matTooltip="Schule entfernen">
          <mat-icon (click)="deleteSchool(row.name, row.school_id)">delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef aria-colspan="6">Daten werden geladen...</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef aria-colspan="6">Es sind keine Daten vorhanden.</mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

<div class="mail-div">
  <button mat-stroked-button (click)="openEmailDialog()" color="primary">
    <mat-icon>mail_outline</mat-icon>
    E-Mail senden
  </button>

  <button mat-stroked-button (click)="openLetterDialog()" color="primary">
    <mat-icon>mail</mat-icon>
    Brief generieren
  </button>
</div>
