<div class="search-div">
  <button mat-raised-button [routerLink]="['/schulen']" color="primary">
    <mat-icon>add</mat-icon>
    Hinzufügen
  </button>
<!--  <button mat-raised-button (click)="onCreate()" color="primary">-->
<!--    <mat-icon>add</mat-icon>-->
<!--    Hinzufügen-->
<!--  </button>-->
  <mat-form-field class="search-form-field" floatLabel="never">
    <label>
      <input matInput [(ngModel)]="searchKey" placeholder="Suche" autocomplete="off" (keyup)="applyFilter()">
    </label>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8 data-table">
  <mat-table [dataSource]="listData" matSort>

    <!-- schulname Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- schulform Column -->
    <ng-container matColumnDef="schulform">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Schulform</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.schulform}}</mat-cell>
    </ng-container>

    <!-- schwerpunkt column -->
    <ng-container matColumnDef="schwerpunkt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>schwerpunkt</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.schwerpunkt}}</mat-cell>
    </ng-container>

    <!-- adresse column -->
    <ng-container matColumnDef="adresse">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.adresse.strasse}}, {{row.adresse.hausnummer}}</mat-cell>
    </ng-container>

    <!-- ort column column -->
    <ng-container matColumnDef="ort">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ort</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.ort.plz}}, {{row.ort.bezeichnung}}</mat-cell>
    </ng-container>

    <!-- schulleitung_mail column -->
    <ng-container matColumnDef="schulleitung_mail">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Schulleitung (Mail)</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.schulleitung_mail}}</mat-cell>
    </ng-container>

    <!-- stubo_mail v -->
    <ng-container matColumnDef="stubo_mail">
      <mat-header-cell *matHeaderCellDef mat-sort-header>StuBo (Mail)</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.stubo_mail}}</mat-cell>
    </ng-container>

    <!-- schueleranzahl column -->
    <ng-container matColumnDef="schueleranzahl">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Schühleranzahl</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.schueleranzahl}}</mat-cell>
    </ng-container>

    <!-- kooperationsvertrag column -->
    <ng-container matColumnDef="kooperationsvertrag">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kooperationsvertrag</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [disabled]="true" [checked]="row.kooperationsvertrag"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- kaoa_hochschule Column -->
    <ng-container matColumnDef="kaoa_hochschule">
      <mat-header-cell *matHeaderCellDef mat-sort-header>kaoa Hochschule</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [disabled]="true" [checked]="row.talenscouting"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Talent scouting Column -->
    <ng-container matColumnDef="talent">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Talentscouting</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [disabled]="true" [checked]="row.talenscouting"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- edit and delete Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button [routerLink]="['/schulen', row.schule_id]">
          <mat-icon>launch</mat-icon> <!-- use launch or edit -->
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>

        <!-- TODO make delete work: -->
        <!-- <mat-icon (click)="(row.schule_id)">delete</mat-icon>-->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef aria-colspan="6">Daten werden geladen...</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef aria-colspan="6">Es sind keine Daten vorhanden.</mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
