<!--<p>zsb-adresse works!</p>-->
<h1>Adresse verwalten</h1>
<form [formGroup]="service.formGroup" class="normal-form example-form"> <!--  (submit)="onSubmit()" -->

  <div class="controls-container">
    <input type="hidden" formControlName="adresseId">

    <mat-form-field class="example-full-width">
      <input
        name="plz"
        type="text"
        placeholder="Regierungsbezirk"
        aria-label="Number"
        matInput
        formControlName="regierungsbezirk"
        [matAutocomplete]="autoRegierung">
      <mat-autocomplete autoActiveFirstOption #autoRegierung="matAutocomplete">
        <mat-option *ngFor="let option of filteredRegierungsbezirkOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        name="plz"
        type="text"
        placeholder="Kreis"
        aria-label="Number"
        matInput
        formControlName="kreis"
        [matAutocomplete]="autoKreis">
      <mat-autocomplete autoActiveFirstOption #autoKreis="matAutocomplete">
        <mat-option *ngFor="let option of filteredKreisOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        name="plz"
        type="number"
        placeholder="PLZ"
        aria-label="Number"
        matInput
        formControlName="plz"
        [matAutocomplete]="autoPlz">
      <mat-autocomplete autoActiveFirstOption #autoPlz="matAutocomplete">
        <mat-option *ngFor="let option of filteredPlzOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Ort"
        aria-label="Text"
        matInput
        formControlName="bezeichnung"
        [matAutocomplete]="autoOrt">
      <mat-autocomplete autoActiveFirstOption #autoOrt="matAutocomplete" >
        <mat-option *ngFor="let option of filteredBezeichnungOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Strasse"
        aria-label="Text"
        matInput
        formControlName="strasse"
        [matAutocomplete]="autoStrasse">
      <mat-autocomplete autoActiveFirstOption #autoStrasse="matAutocomplete" >
        <mat-option *ngFor="let option of filteredStrasseOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Hausnummer"
        aria-label="Text"
        matInput
        formControlName="hausnummer"
        [matAutocomplete]="autoHausnummer">
      <mat-autocomplete autoActiveFirstOption #autoHausnummer="matAutocomplete" >
        <mat-option *ngFor="let option of filteredHausnummerOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="btn-row">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="service.formGroup.invalid"> <!-- type="submit" -->
        Übernehmen
      </button>
      <button mat-raised-button color="warn" (click)="onClose()">Abbrechen</button>
    </div>
  </div>
</form>

