<form [formGroup]="berichtForm" class="bericht-form">
  <!-- uuid -->
  <input type="hidden" formControlName="uuid">

  <!-- veranstaltung_id -->
  <input type="hidden" formControlName="veranstaltung_id">

  <!-- titel -->
  <mat-form-field>
    <label>
      <input formControlName="titel" matInput placeholder="Titel*">
    </label>
    <mat-error>Ihre Eingabe wird benötigt.</mat-error>
  </mat-form-field>
  <br>

  <!-- text -->
  <mat-form-field class="bericht-field">
    <label>
      <textarea formControlName="text" matInput placeholder="Bericht*"></textarea>
    </label>
  </mat-form-field>

  <div class="btn-row">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
            [disabled]="berichtForm?.invalid">Speichern
    </button>
    <button mat-raised-button color="warn" (click)="onClose()">Abbrechen</button>
  </div>
</form>
